body {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(45deg, #f06, #9f6);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

h1, button, footer {
    margin: 10px;
    text-align: center;
}

#container {
    gap: 1px;
    width: 90%;
    max-width: 960px;
    height: 70%;
    margin: 0 auto;
    display: grid;
    border-radius: 5px;
    overflow: hidden;
}

.square {
    box-sizing: border-box; /* Includes border in width and height */
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
    border-radius: 3px;
}

button {
    display: block;
    margin: 20px auto;
    background-color: #222;
    color: #fff;
    padding: 15px 30px;
    font-size: 16px;
    border: 4px solid #555;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0px #000; 
    border-radius: 5px;
    outline: none;
}

button:active {
    box-shadow: 2px 2px 0px #000;
    transform: translate(2px, 2px);
}

button:hover {
    background-color: #333;
}

footer {
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px #333;
}
